body{
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
    font-family: 'poppins';
}
.div1{
  display: flex;            
  flex-direction: column;  
  justify-content: center;   
  align-items: center;     
  text-align: center;     
  height: auto; 
  padding: 20px;
  margin-top:50px;
}
.div1 img{
    width: 60px;
}
.div1 h1{
    font-size: 40px;
    font-weight: 600;
    color: #111827;

}
.div1 .p1{
    color: #6C727F;
    max-width: 570px;
     margin-top: -10px;
}
.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 500px;
    height:190px;
    border-radius: 16px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}
.form input{
    padding:16px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    width: 450px;
    height: 30px;
    background-color: #F9FAFB;
    margin-bottom: 16px;
}
.form input::placeholder{
    font-size: 16px;
    color: #394150;
    font-family: poppins;
    text-align: center;
}
.form button{
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 16px;
    width: 480px;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'poppins';
}
.p3{
    font-size: 14px;
    color: #394150;
    margin-top: 20px;
    margin-bottom: 0;
}